@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.start {
    justify-content: flex-start;
}

.centered {
    justify-content: center;
}

.even {
    justify-content: space-evenly;
}

.cross-centered {
    align-items: center;
}

.cross-start {
    align-items: flex-start;
}

.dark {
    color: white;
    background-color: black;
}

.rounded {
    margin: 0.5ch;
    padding: 0.5ch;
    border: 0.2ch solid currentColor;
    border-radius: 1ch;
    transition-duration: 0.1s;
}

.half {
    width: 45vw;
    height: 90vh;
}

#buttons {
    overflow-y: scroll;
}

button {
    min-width: 5vw;
}

#text:focus {
    outline: none;
    box-shadow: 0 0 5px 0 white;
}

.pos {
    font-size: 1.75vw;
    font-weight: 700;
}

.def {
    font-size: 1.5vw;
    font-weight: 400;
}